<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de directores</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Filmoteca</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/directores/">Directores </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/peliculas/">Películas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/categorias/">Categorias </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/productoras/">Productoras</a>
            </li>

        </ul>
    </div>
</nav>
<div class="container mt-5">
    <h2>Listado de directores</h2>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="director : ${directores}">

            <td th:text="${director.id}"></td>
            <td th:text="${director.nombre}"></td>
            <td>
                <a th:href="@{/directores/editar/{id}(id=${director.id})}" class="btn btn-primary">Editar</a>
                <a th:href="@{/directores/eliminar/{id}(id=${director.id})}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/directores/nuevo" class="btn btn-success">Agregar director de cine</a>
</div>
</body>
</html>