<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Peliculas de la Productora</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Filmoteca</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/directores/">Directores </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/peliculas/">Películas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/categorias/">Categorias </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/productoras/">Productoras</a>
            </li>

        </ul>
    </div>
</nav>

<div class="container mt-4">
    <h2>Peliculas de la productora</h2>
    <p>ID de la productora: <span th:text="${productora.id}"></span></p>
    <p>Nombre de la productora: <span th:text="${productora.nombre}"></span></p>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Título</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="pelicula : ${peliculas}">
            <td th:text="${pelicula.id}"></td>
            <td th:text="${pelicula.titulo}"></td>
        </tr>
        </tbody>
    </table>
    <a href="/productoras/listar" class="btn btn-secondary">Volver</a>

</div>




</body>
</html>